.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 30%;
  margin: 0 auto;
  padding: 5px;
}

.inputs-div {
  display: flex;
  flex-direction: column;
  
}

/* General styles for inputs, textarea, and select */
input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #ff6a00;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  transition: border-color 0.15s cubic-bezier(.4,0,.2,1), box-shadow 0.15s cubic-bezier(.4,0,.2,1);
}

/* Placeholder text color */
input::placeholder,
textarea::placeholder {
  color: #ccc;
}

/* Focus effect */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #ff8800;
  box-shadow: 0 0 4px #ff8800;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

/* SELECT Dropdown Custom Styling */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ff6a00' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 35px;
  cursor: pointer;
}

/* Option color fix for dark background */
select option {
  background-color: #111;
  color: white;
}


button {
    background-color: transparent;
    border: 1px solid #ff6a00;
    color: #fff;
    padding: 10px;
    
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
  background-color: #ff6a00;
}

@media (max-width: 1000px) {
  .contact-form {
    
    padding: 15px;
    max-width: 70%;
  }
}